{
  "optional": [
    "runtime"
  ],
  "env": {
    "production": {
      "optional": [
        "utility.inlineEnvironmentVariables",
        "minification.deadCodeElimination",
        "minification.inlineExpressions"
      ]
    }
  },
  "stage": 0
}