extends layout

block head
    link(rel="icon", href="favicon.ico")

block content
    #app
    if env == "development"
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0-rc1/react.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.js")
        script(src="http://localhost:8080/static/build/bundle.js", id="bundle", data-server="/socket.io")
    else
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0-rc1/react.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.4/socket.io.min.js")
        script(src="build/bundle.js", id="bundle", data-server="/game-of-credit/socket.io")