extends layout

block content
    div(id="app")
    script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.3/socket.io.min.js")
    script(src=bundleSrc, id="bundle", data-server=dataServer, async)