* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html, body, #render {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.flex {
    display: -webkit-flex;
    display: flex;
}

.columns {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.align-center {
    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;
}
.align-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.align-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.align-left {
     -webkit-justify-content: flex-start;
     justify-content: flex-start;
 }

.align-right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
