#index-page {
    height: 100%;
    width: 100%;
}

#index-page h1 {
    font-size: 4em;
    margin: 0;
}
#index-page h1 .version {
    font-size: .3em;
    padding-left: .3em;
}
#index-page h2 {
    font-size: 2em;
    margin-bottom: 1em;
}
#index-page .button {
    background-color: #d9534f;
    border-radius: .4em;
    color: white;
    padding: .8em .9em;
    text-decoration: none;
}
#index-page p {
    color: #999;
}